---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-40 mb-40">
    <HeroSection />
    <Features />
    <Stats />
    <div class="py-6">
      <div class="max-w-6xl mx-auto text-center">
        <p class="text-5xl font-bold">
          Ready to Revolutionize Your Loan Approval
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-blue-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Get started</span
            >
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
