---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Contract Flex">
  <main class="space-y-40 mb-40">
    <HeroSection />
    <Features />
    <Stats />
    <div class="py-6">
      <div class="max-w-6xl mx-auto text-center">
        <p class="text-5xl font-bold">
          Ready to Revolutionize Your Loan Approval
        </p>
      </div>
    </div>
  </main>
</Layout>
