---
import Container from "./Container.astro";
---

<header>
  <nav class="z-10 w-full absolute">
    <Container>
      <div
        class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative"
      >
        <h3 class="text-orange-400 text-2xl font-bold">ContractFlex</h3>
      </div>
    </Container>
  </nav>
</header>

<style>
  #toggle_nav:checked ~ div #hamburger #line {
    @apply rotate-45 translate-y-1.5;
  }

  #toggle_nav:checked ~ div #hamburger #line2 {
    @apply -rotate-45 -translate-y-1;
  }
</style>
