---
import Container from "./Container.astro";
---

<header>
  <nav class="z-10 w-full absolute">
    <Container>
      <div
        class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative"
      >
        <h3 class="text-orange-400 text-2xl font-bold">ContractFlex</h3>
        <div
          class="flex-col z-20 flex-wrap gap-6 p-8 rounded-3xl border border-gray-100 bg-white shadow-2xl shadow-gray-600/10 justify-end w-full invisible opacity-0 translate-y-1 absolute top-full left-0 transition-all duration-300 scale-95 origin-top lg:relative lg:scale-100 lg:peer-checked:translate-y-0 lg:translate-y-0 lg:flex lg:flex-row lg:items-center lg:gap-0 lg:p-0 lg:bg-transparent lg:w-7/12 lg:visible lg:opacity-100 lg:border-none peer-checked:scale-100 peer-checked:opacity-100 peer-checked:visible lg:shadow-none dark:shadow-none dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="mt-12 lg:mt-0">
            <a
              href="#"
              class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-blue-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-sm font-semibold text-white"
                >Get Started</span
              >
            </a>
          </div>
        </div>
      </div>
    </Container>
  </nav>
</header>

<style>
  #toggle_nav:checked ~ div #hamburger #line {
    @apply rotate-45 translate-y-1.5;
  }

  #toggle_nav:checked ~ div #hamburger #line2 {
    @apply -rotate-45 -translate-y-1;
  }
</style>
