---
import Container from "./Container.astro";
---

<div class="relative bg-[#02042b]" id="home">
  <Container>
    <div class="relative pt-36 ml-auto py-20">
      <div class="text-center mx-auto">
        <h1 class="text-white font-bold text-5xl md:text-6xl xl:text-7xl">
          Unlocking Growth Opportunities for B2B MSMEs and Startups! <br />
          <span class="text-gray-100 text-3xl"
            >Revolutionizing Business Funding Solutions.</span
          >
        </h1>
        <p class="mt-8 text-gray-300">
          Welcome to our innovative funding platform, , dedicated to empowering
          B2B MSMEs and startups with swift and hassle-free access to capital.
          Say goodbye to collateral requirements and tedious paperwork, and
          unlock boundless growth opportunities with our personalized support."
        </p>
        <p class="mt-14 text-orange-400 font-bold text-2xl">
          Join us effortlessly, no OTP required – your seamless entry awaits!
        </p>
      </div>
    </div>
  </Container>
</div>
