---
import Container from "./Container.astro";
---

<div
  id="solution"
  class="bg-[#02042b] min-h-screen flex justify-center items-center"
>
  <Container>
    <div class="border-l-[5px] px-4 border-orange-600">
      <h2 class="mb-1 text-2xl text-white font-bold md:text-4xl">
        Join the Future of Finance: <br />
      </h2>
      <p class="text-blue-400 text-5xl font-bold">
        Registering with Us is Just a Click Away!
      </p>
    </div>
    <div class="flex flex-wrap gap-8 justify-center mt-24">
      <div
        class="rounded-full flex-col flex items-center w-72 h-72 bg-white shadow-lg border"
      >
        <h3 class="font-bold text-6xl text-blue-500 mt-12 mb-10">Step 1</h3>
        <p class="text-[#02042b] text-[26px] font-bold text-center">
          Registration & <br /> Account Setup
        </p>
      </div>
      <div
        class="rounded-full flex-col flex items-center w-72 h-72 bg-white shadow-lg border"
      >
        <h3 class="font-bold text-6xl text-blue-500 mt-12 mb-10">Step 2</h3>
        <p class="text-[#02042b] text-[26px] font-bold text-center">
          Eligibility Check
        </p>
      </div>
      <div
        class="rounded-full flex-col flex items-center w-72 h-72 bg-white shadow-lg border"
      >
        <h3 class="font-bold text-6xl text-blue-500 mt-12 mb-10">Step 3</h3>
        <p class="text-[#02042b] text-[26px] font-bold text-center">
          Loan Application <br /> Process
        </p>
      </div>
      <div
        class="rounded-full flex-col flex items-center w-72 h-72 bg-white shadow-lg border"
      >
        <h3 class="font-bold text-6xl text-blue-500 mt-12 mb-10">Step 4</h3>
        <p class="text-[#02042b] text-[26px] font-bold text-center">
          Approval & <br /> Fund Disbursement
        </p>
      </div>
    </div>
  </Container>
</div>
